/* Smartphones */
@media only screen and (max-width: 500px) {
	.container {
		margin: 0;
		margin-top: 0;
		padding: 0;
	}

	#main-container .card-container {
		grid-template-columns: 1fr;
		border-radius: 0;
		grid-template-areas: "column-1" "column-3" "column-2";
	}

	#main-container .card_header {
		grid-column: 1;
		grid-area: column-1;
	}

	#main-container .left_card {
		grid-column: 1;
		grid-area: column-2;
	}

	#main-container .right_card {
		grid-column: 1;
		padding-top: 1rem;
		padding-bottom: 1rem;
		grid-area: column-3;
	}

	.right_card .confirmation_area {
		flex-direction: column;
		justify-content: center;
		justify-items: center;
	}
}

/* Tablet */
@media (min-width: 501px) and (max-width: 768px) {
	#main-container .card-container {
		grid-template-columns: 1fr;
		grid-template-areas: "column-1" "column-3" "column-2";
	}

	#main-container .card_header {
		grid-column: 1;
		grid-area: column-1;
	}

	#main-container .left_card {
		grid-column: 1;
		grid-area: column-2;
	}

	#main-container .right_card {
		grid-column: 1;
		padding-top: 1rem;
		padding-bottom: 1rem;
		grid-area: column-3;
	}

	.right_card .confirmation_area {
		flex-direction: column;
		justify-content: center;
	}
}

/* Normal */
@media (min-width: 769px) and (max-width: 1200px) {
	#normal h1 {
		display: block;
	}
}

/* Widescreen */
@media (min-width: 1201px) {
	#widescreen h1 {
		display: block;
	}
}

/* Landscape */
@media (max-height: 500px) {
	#landscape h1 {
		display: block;
	}
}
